.categoryCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.imageRow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.img {
  width: fit-content;
  height: 50%;
}

.textRow {
  display: flex;
  justify-content: center;
  text-align: center;
}
.title {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}
.products {
  font-size: 0.8rem;
  font-weight: normal;
  color: #605e5ef4;
}

/* buttons */
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  position: absolute;
  top: -50px;
}
.arrow:hover {
  transform: scale(1.1);
}

.next {
  right: 0%;
  background-color: #daa520;
  color: white;
}

.prev {
  right: 7%;
  background-color: transparent;
  border: rgb(208, 207, 207) 1px solid;
  color: #daa520;
}
