.container {
  position: static;
  background-color: #2d5356;
  font-size: 1.1rem;
}
.logo1 {
  align-items: center;
  width: 20px;
  margin-right: 2px;
  margin-top: -5px;
}
.logoText {
  color: white;
  font-size: 1.6rem;
}
.logoSpan {
  color: #d09423;
}
.navLink {
  color: white !important;
  position: relative;
  padding-bottom: 5px;
  margin: 5px 10px;
}

.navLink:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #d09423;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #d09423;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.icons {
  display: flex;
  justify-content: flex-end;
}
.icon {
  color: white;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 15px;
}
.icon:hover {
  background-color: transparent;
  border: none;
}
.icon:focus {
  background-color: transparent;
  border: none;
}
@media (max-width: 768px) {
  .icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .icons {
    margin-top: 0;
  }
}
@media (max-width: 408px) {
  .icons {
    margin: 20px auto 0 auto;
  }
}
