.primaryButton {
  display: flex;
  background-color: #d09423;
  color: white;
  border: none;
  padding: 17px 37px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s;
  align-items: center;
}
.primaryButton:hover {
  background-color: transparent;
  border: #d09423 solid 2px;
  color: white;
  transition: all 0.05s;
}
