.secondaryButton {
  background-color: white;
  border: rgb(208, 207, 207) 1px solid;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 1% 4%;
  color: #2d5356;
}
