.slick-dots {
  bottom: -30px;
}
.slick-dots li button:before {
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: #2d5356;
}
.slick-dots li.slick-active button:before {
  color: #2d5356;
  opacity: 1;
  font-size: 30px;
}
